<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'indx/acc_style.css' %}">
</head>
<body>

    <div id="user_space">
        {{ user.nick }}
    </div>

    <div id="main_menu">
        <center><h1>Nerf station</h1></center>
        <ul id='menu'>
            <li>Shop</li>
            <li>Videos</li>
            <li>News</li>
        </ul>
    </div>

</body>
</html>