<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'indx/style.css' %}">
</head>
<body>

    <div id='user_box'>
        <label id='user_box_name' for="logout_button">{{ request.user }}</label>
        <a href="{% url 'indx:logout' %}"><button id='user_box_button' name='logout_button' id='logout'>Logout</button></a>
    </div>

    <div id="main_menu">
        <center><h1>Interesting name</h1></center>
        <center><div id="menu">
            <ul>
                <li><a href="{% url 'indx:shop' %}">Shop</a></li>
                <li>Videos</li>
                <li>News</li>
            </ul>
        </div></center>
    </div>

    {% block content %}

    {% endblock content %}

    {% load static %}
    <script type='text/javascript' src="{% static 'script.js' %}"></script>
</body>
</html>