<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'indx/style.css' %}">
</head>
<body>

    <div id='user_box'>
        <label id='user_box_name' for="logout_button">{{ request.user }}</label>
        <a href="{% url 'indx:logout' %}"><button id='user_box_button' name='logout_button' id='logout'>Logout</button></a>
    </div>

    <div id="main_menu">
        <center><h1>Interesting name</h1></center>
        <center><div id="menu">
            <ul>
                <li><button id="shop_main_div_button">Shop</button></li>
                <li><button id="videos_main_button">Videos</button></li>
                <li><button id="news_main_button">News</button></li>
            </ul>
        </div></center>
    </div>

    <center><div id="shop_main_div">
        <form action="{% url 'indx:shop_search' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="search_input" name='search'><br><br>
            <button type="submit" id="search_button">Submit</button>
        </form>
    </div></center>

    <div id="videos_main_div">a</div>

    <div id="news_main_div">b</div>

    {% block content %}

    {% endblock content %}

    {% load static %}
    <script type='text/javascript' src="{% static 'script.js' %}"></script>
</body>
</html>