<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'indx/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id='site_name' href="#">Telegram Bot Creation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="navbar-item">
                |
            </li>
            <li class="nav-item">
                <label for="logout_button" id='logout_label'>{{ request.user | title }}</label>
                <a href="{% url 'indx:logout' %}"><button id="logout_button" class='btn btn-info'>Logout</button></a>
            </li>
          </ul>
          <span class="navbar-text">
          </span>
        </div>
      </nav>

    <div id="owner_bots">
        {% if bots %}

        <div id="bots_list">
            <ul class="list-group">
            {% for i in bots %}
                <li class="list-group-item">
                    <a href="{% url 'indx:botInfo' i %}">{{ i }}</a>
                </li>
            </ul>
            {% endfor %}
        </div>

        {% else %}

        <h2 style="padding: 30px;">You have no bots</h2>

        {% endif %}
    </div>

    <div id="main_menu">
        <center><a href="{% url 'indx:create' %}">
            <button type="button" class="btn btn-secondary btn-lg" id='create_button'>New Bot <img src="https://img.icons8.com/wired/64/000000/plus.png"/></button>
        </a></center>
    </div>


    {% block content %}

    {% endblock content %}

    {% load static %}

</body>
</html>