{% extends 'indx/index.html' %}

{% block content %}

    {% if error == "Incorrect password" %}
    <div id="auth_err_div">
        <form action="{% url 'indx:account' %}" method="POST">
            {% csrf_token %}

            <p>Nickname:</p>
            <input type="text" name='Nickname' placeholder="Nickname" value='{{ user }}'><b></b>

            <p>Password:</p>
            <input type="password" name='password' placeholder='password'><br>
            <p id='p_error'>{{ error }}</p>

            <input type="submit" value='Submit'>
        </form>
    </div>
    {% elif error == "User not found" %}
    <div id="auth_err_div">
        <form action="{% url 'indx:login' %}" method="POST">
            {% csrf_token %}

            <p>Nickname:</p>
            <input type="text" name='Nickname' placeholder="Nickname" value='{{ user }}'><b></b>
            <p id='p_error'>{{ error }}</p>

            <p>Password:</p>
            <input type="password" name='password' placeholder='password'><br>

            <input type="submit" value='Submit'>
        </form>
    </div>
    {% endif %}

    {% if message %}
    <div id='auth_err_div'>
        <form action="{% url 'indx:account' %}" method="POST">
            {% csrf_token %}
            <input type="text" value="{{ user }}" name='nickname' id='user_index_input_hid'>
            <center><p id='auth_message'>{{ message }}</p></center>
            <center><input type="submit" value="Submit"></center>
        </form>
    </div>
    {% endif %}

{% endblock content %}