<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'indx/login.css' %}">
</head>
<body>

    <div id="head">
        <p id='p_head'>Login</p>
    </div>

    <center><form action="" method="POST">
        {% csrf_token %}

        <div id="username">
            <label for="username" id="username_label">Username:</label>
            <input type="text" placeholder="Username" name="username" id="username_input">
        </div>

        <div id="password">
            <label for="password" id="password_label">Password:</label>
            <input type="password" placeholder="Password" name="password" id="password_input">
        </div>

        <p id="registration_redir">Don't have an account? <a href="{% url 'indx:registration' %}">Registration</a></p>
        
        {% for message in messages %}
            <p id='error_message'>{{ message }}</p>
        {% endfor %}

        <center><input type="submit" id="submit_butt"></center>
    </form></center>

</body>
</html>