<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'indx/registration.css' %}">
</head>
<body>

    <div id="head">
        <p id='p_head'>Registration</p>
    </div>

    <center><form action="" method="POST">
        {% csrf_token %}

        <div class="username">
            <label for="username" id="username_label">{{ form.username.label }}:</label>
            {{ form.username }}
        </div>

        <div class="email">
            <label for="email" id="email_label">{{ form.email.label }}:</label>
            {{ form.email }}
        </div>

        <div class="password1">
            <label for="password1" id="password1_label">{{ form.password1.label }}:</label>
            {{ form.password1 }}
        </div>

        <div class="password2">
            <label for="password2" id="password2_label">{{ form.password2.label }}:</label>
            {{ form.password2 }}
        </div><br>

        <p id="login_redir">Already have an account? <a href="{% url 'indx:login' %}">login</a></p>

        {% for message in messages %}
            <p id="error_message">{{ message }}</p>
        {% endfor %}

        <center><input id="submit_butt" type="submit" name="Create User"></center>

    </form></center>

    <!-- <div>{{ form.errors }}</div> -->
    
    <script>
        let forms = document.getElementsByTagName("input");
        forms[1].placeholder = "Username";
        forms[2].placeholder = "Email";
        forms[3].placeholder = "Password";
        forms[4].placeholder = "Repeat password";

        forms[1].style.padding = '4px';
        forms[2].style.padding = '4px';
        forms[3].style.padding = '4px';
        forms[4].style.padding = '4px';

        forms[1].style.fontSize = '17px';
        forms[2].style.fontSize = '17px';
        forms[3].style.fontSize = '17px';
        forms[4].style.fontSize = '17px';

    </script>

</body>
</html>