/* =====================================MAIN=========================================== */

body{
    /* background: white url('images/background.jpg') no-repeat center center fixed; */
    background: white;
    background-size: cover;
    font-size: 30px;
    color: black;
}

h1{
    padding: 20px;
    width: 100%;
}

li{
    display: inline;
    padding: 20px;
}

#main_menu{
    padding: 50px;
}

/* ==============================================USER BOX=============================== */

#user_box{
    float: right;
    padding: 5px;
    width: 300px;
    background: white;
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px;
}

#user_box_name{
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

#user_box_button{
    border: 1px black solid;
    background: white;
    width: 80px;
    font-size: 17px;
}

#user_box_button:hover{
    cursor: pointer;
    background: black;
    color: white;
}