/* =====================================MAIN=========================================== */

body{
    /* background: white url('images/background.jpg') no-repeat center center fixed; */
    background: rgb(230, 230, 230);
    background-size: cover;
    font-size: 30px;
    color: black;
}

h1{
    padding: 20px;
    width: 100%;
}

li{
    display: inline;
    padding: 20px;
}

#main_menu{
    padding-top: 0;
}

#shop_main_div_button, #videos_main_button, #news_main_button{
    width: 10%;
    font-size: 30px;
    border: 1px solid black;
    padding: 5px;
}

#shop_main_div_button:hover, #videos_main_button:hover, #news_main_button:hover{
    cursor: pointer;
    background: white;
}

/* ==============================================USER BOX=============================== */

#user_box{
    padding: 5px;
    background: rgb(122, 122, 122);
    color: white;
    border-radius: 5px;
    margin: 10px;
}

#user_box_name{
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

#user_box_button{
    color: black;
    padding: 5px;  
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}

#user_box_button:hover{
    cursor: pointer;
    color: black;
    background: white;
    border: 1px solid black;
}

/* ==========================================SHOP============================================== */

#shop_main_div{
    background: rgb(201, 201, 201);
    visibility: visible;
    /* position: absolute; */
    padding-bottom: 45px;
}

#search_input{
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 20px;
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 0 0 0;
}

#search_button{
    font-size: 20px;
    margin: 10px;
    margin-left: 40px;
    border: 1px solid black;
    float: left;
}

#search_button:hover{
    cursor: pointer;
    background: white;
    border: 1px solid black;
}

#product_div{
    background: rgb(201, 201, 201);
    margin-top: -4.9%;
}

/* =================================================VIDEOS============================================ */

#videos_main_div{
    visibility: hidden;
    background: rgb(201, 201, 201);
    /* position: absolute; */
}

/* =====================================================NEWS============================================= */

#news_main_div{
    visibility: hidden;
    background: rgb(201, 201, 201);
    /* position: absolute; */
}